* {
  box-sizing: border-box;
  font-size: 0;
}

/*************
MAIN OUTER DIV
**************/
.outer{
	width: 33.33%;
	border: 3px solid #47a3da;
	display: inline-block;
}


/*************
T-SHIRT DIVS
**************/
.outertshirt{
	margin: 0 auto;
	max-width: 100%;
	text-align: center;
}
.tshirt{
	max-width: 100%;
	margin: 0 auto;
	padding: 8px;
}


/*************
FLIP DIV
**************/
.flipper{

}


/*************
BOTTOM BOXES
**************/
.outerselector{
	width: 100%;
}
.selector{
	display: inline-block;
	width: 20%;
	height: 50px;
	font-size: 24px;
	border-top: 1px solid #47a3da;
	border-right: 1px solid #47a3da;
	border-bottom: 1px solid #47a3da;
	text-align: center;
	padding: 2%;
}
.selector p{
	font-size: 13pt;
	font-weight: bold;
	margin: 0;
}
p{
	display: inline-block;
	width: 49%;
	font-size: 16px;
	color: #47a3da;
}
#first .fa-square{
	color: #47a3da;
}
#second .fa-square{
	color: pink;
}
#third .fa-square{
	color:orange;
}
#fourth .fa-square{
	color:green;
}
#fith .fa-square{
	color:orange;
}
#sixth .fa-square{
	color:#47a3da;
}


/*************
BOTTOM TEXT
**************/
.bottom_row{
	display: inline-block
	margin: 0 auto;
}
.sentence{
	width: 70%;
	color: #47a3da;
	font-size: 30px;
}
.price{
	width: 30%;
	color: #47a3da;
	text-align: right;
	font-weight: bold;
	font-size: 30px;
}


/*************
MEDIA QUERIES
**************/
@media (max-width: 768px){
	.outer{
		width: 50%;
	}
}

@media (max-width: 375px){
	.outer{
		display: block;
		width: 100%;
	}
}


/*************
INTERACTIVE CSS
**************/
.selector:hover{
	background: #47a3da;
	color: white;
}
.outerselector{
	position: relative;
}
.sizes{
	position: absolute;
	height: 200%;
	width: 20%;
	background: white;
	border: 1px solid #47a3da;
	bottom: 100%;
	right: 40%;
	opacity: 0;
}
.colors{
	position: absolute;
	height: 200%;
	width: 20%;
	background: white;
	border: 1px solid #47a3da;
	bottom: 100%;
	right: 20%;
	opacity: 0;
}
