* {
  box-sizing: border-box;
  font-size: 0;
}

/*************
MAIN OUTER DIV
**************/
.outer{
	width: 33.33%;
	border: 1px solid blue;
	display: inline-block;
}


/*************
T-SHIRT DIVS
**************/
.outertshirt{
	margin: 0 auto;
	max-width: 100%;
	text-align: center;
}
.tshirt{
	max-width: 100%;
	margin: 0 auto;
	padding: 8px;
}


/*************
FLIP DIV
**************/
.flipper{

}


/*************
BOTTOM BOXES
**************/
.outerselector{
	width: 100%;
}
.selector{
	display: inline-block;
	width: 20%;
	height: 50px;
	font-size: 24px;
	border-top: 1px solid blue;
	border-right: 1px solid blue;
	border-bottom: 1px solid blue;
	text-align: center;
	padding: 2%;
}
.selector p{
	font-size: 10pt;
	font-weight: bold;
	margin: 0;
}
p{
	display: inline-block;
	width: 49%;
	font-size: 16px;
}
#first .fa-square{
	color: blue;
}
#second .fa-square{
	color: pink;
}
#third .fa-square{
	color:orange;
}


/*************
BOTTOM TEXT
**************/
.sentence{
	color: blue;
}
.price{
	color: blue;
	text-align: right;
	font-weight: bold;
}


/*************
MEDIA QUERIES
**************/
@media (max-width: 768px){
	.outer{
		width: 50%;
	}
}

@media (max-width: 375px){
	.outer{
		display: block;
		width: 100%;
	}
}
