* {
  box-sizing: border-box;
  font-size: 0;
}

/*************
MAIN OUTER DIV
**************/
.outer{
	width: 33.33%;
	border: 3px solid #47a3da;
	display: inline-block;
}


/*************
T-SHIRT DIVS
**************/
.outertshirt{
	margin: 0 auto;
	max-width: 100%;
	text-align: center;
}
.tshirt{
	max-width: 100%;
	margin: 0 auto;
	padding: 8px;
}


/*************
FLIP DIV
**************/
.flipper{

}


/*************
BOTTOM BOXES
**************/
.outerselector{
	width: 100%;
}
.selector{
	display: inline-block;
	width: 20%;
	height: 50px;
	font-size: 24px;
	border-top: 3px solid #47a3da;
	border-right: 3px solid #47a3da;
	border-bottom: 3px solid #47a3da;
	text-align: center;
	padding-top: 2%;
}
.selector p{
	font-size: 13pt;
	font-weight: bold;
	margin: 0;
}
p{
	display: inline-block;
	width: 49%;
	font-size: 16px;
}
.outerselector:first-child, .outerselector:nth-child(2), .outerselector:nth-child(3), .outerselector:nth-child(5){
	color:#47a3da;
}

#first .fa-square{
	color: #47a3da;
}
#second .fa-square{
	color: pink;
}
#third .fa-square{
	color:orange;
}
#fourth .fa-square{
	color:green;
}
#fith .fa-square{
	color:orange;
}
#sixth .fa-square{
	color:#47a3da;
}


/*************
BOTTOM TEXT
**************/
.bottom_row{
	display: inline-block
	margin: 0 auto;
}
.sentence{
	width: 70%;
	color: #47a3da;
	font-size: 30px;
}
.price{
	width: 30%;
	color: #47a3da;
	text-align: right;
	font-weight: bold;
	font-size: 30px;
}


/*************
MEDIA QUERIES
**************/
@media (max-width: 768px){
	.outer{
		width: 50%;
	}
}

@media (max-width: 375px){
	.outer{
		display: block;
		width: 100%;
	}
}


/*************
INTERACTIVE CSS
**************/
.selector:hover{
	background: #47a3da;
	color: white;
}
.sizes{
	position: relative;
}
.sizes:hover > .sizepop{
	opacity: 1;
	cursor: pointer;
}
.sizepop{
	position: absolute;
	height: 200px;
	width: 100px;
	background: white;
	border: 3px solid #47a3da;
	opacity: 0;
	transform: translateY(-120%);
	transition: 1s all ease;
	font-size: 12px;
	color: #47a3da;
}
span{
	color: #47a3da;
	background: url(https://tympanus.net/Blueprints/ProductGridLayout/images/tshirt.svg) no-repeat;
	background-size: 100%;
	font-size: 12px;
	display: block;
	height: 25%;
	width: 60px;
	line-height: 40px;
	margin: 0 auto;
}

